body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.address {
  font-style: normal;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
}
.menu-link {
  color: #2e2f42;
  font-weight: 500;
}
.address-link {
  color: #434455;
}
.menu-link:hover,
.menu-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  color: #4d5ae5;
}
.span-light {
  color: #2e2f42;
}
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: #ffffff;
  text-align: center;
}
.hero-button {
  font-weight: 500;
  letter-spacing: 0.64px;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  line-height: 1.5;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.section-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team {
  background-color: #f4f4fd;
}
.team-item {
  background-color: #ffffff;
}
.footer {
  background-color: #2e2f42;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
}
.span-dark {
  color: #f4f4fd;
}
